html body{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
}
/* ヘッダー要素 */
header{
    background-color: #333;
    color: #eee;
    width: 99%;
    padding-left: 1%;

}
header h1{
    margin: 0;
}
header p{
    margin: 0;
}
header a{
    display: inline-block;
    color: #aff;
}
/* メイン */
main{
    margin: 0 auto;
    max-width: 99%;
}
main h2,main h3,main h4,main p{
    margin: 0;
}
main h2{
    margin-top: 3px;
}
.box{
    border: #666 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
}